{% extends "base.html" %}
{% load static %}
{% block title %}{{ membro.nome_completo }} · Registro{% endblock %}
{% block page_title %}Registro de membro{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'membros/css/membro_detalhe.css' %}" />
{% endblock %}

{% block content %}
<div class="membro-detalhe-page" data-membro-pk="{{ membro.pk }}">
  {% include "membros/partials/detalhe/_topbar.html" %}

  <div class="container-fluid px-3 px-lg-4 py-4">
    <div class="row g-4 align-items-start">
      <div class="col-12 col-lg-4 col-xl-3">
        {% include "membros/partials/detalhe/_sidebar.html" %}
      </div>
      <div class="col-12 col-lg-8 col-xl-9 position-relative">
        <span id="membro-secao-indicator" class="htmx-indicator position-absolute top-0 end-0 mt-1 spinner-border spinner-border-sm text-primary z-1" role="status" aria-hidden="true"></span>
        <div id="membro-detalhe-main" class="membro-detalhe-main">
          {% include secao_include %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'membros/js/admin_cpf_mask.js' %}"></script>
  <script src="{% static 'membros/js/membros_modal.js' %}"></script>
  <script src="{% static 'membros/js/membros_detalhe.js' %}"></script>
{% endblock %}
